* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pp {
    background: linear-gradient(150deg, #ff6464,  #da84ff, #5a5aff, #11ff00);
    background-size: 400% 300%;
    animation: BgGradient 2s ease infinite;
}
html{
    scroll-behavior:smooth;
}@keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}